# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files (NEVER commit your API key)
.env
.env.local
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
/coverage
next-env.d.ts
